body,
html {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	line-height: 16px ;
	color: #ffffff;
	font-weight: normal;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f;
}
h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
}
h2 {
	font-size: 24px;
	line-height: 30px ;
	font-weight: 700;
	font-family: "Roboto", "Arial", sans-serif;
}
.container {
	margin: 0 auto;
	padding: 0px 27px;
	min-width: 860px;
	max-width: 1146px;
}
.index .container {
	margin: 0 auto;
	width: 1146px;
}
.main-header .container {
	position: relative;
	padding: 0px 20px;
	min-width: 870px;
	max-width: 1160px;
}
.logo {
	float: left;
	padding: 10px 0px;
	margin-right: 16px;
}
.logo img {
	display: block;
	width: 154px;
	height: 64px;
}
.main-nav {
	position: relative;
	float: left;
	width: 400px;
	z-index: 2;
}
.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-nav li {
	display: inline-block;
	vertical-align: top;
	margin-top: 23px;
}
.main-nav-link {
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 18px ;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	padding: 7px 14px;
	border-radius: 16px;
	margin-bottom: 29px;
}
.main-nav-link::after {
	position: absolute;
	content: "";
	bottom: 7px;
	left: 17px;
	right: 14px;
	height: 1px;
	background: #ffffff;
	opacity: 0.2;
}
.main-nav-link:hover {
	background: #ffffff;
	color: #333333;
}
.main-nav-link:active {
	box-shadow: inset 0px 2px 3px 0px;
}
.main-nav .active,
.main-nav .active:hover,
.main-nav .active:active {
	background: #d07058;
	color: #ffffff;
	box-shadow: none;
}
.main-nav .active::after {
	display: none;
}
.user-block {
	float: right;
	margin-right:7px;
}
.user-block {
	font-size: 0;
}
.user-block a {
	display:inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-top: 23px;
}
.user-block .login,
.user-block .bag {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
	background: rgba(255, 255, 255, 0.2);
	padding: 8px 16px;
	padding-left: 44px;
	border-radius: 16px;
}
.user-block .login {
	position: relative;
}
.user-block .login::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 16px;
	width: 20.062px;
	height: 19px;
	background: url("../img/login-pic.svg") no-repeat center;
}
.user-block .bag {
	position: relative;
	padding-right: 34px;
	margin-right: 0px;
}
.user-block .bag::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 16px;
	width: 20.62px;
	height: 19.719px;
	background: url("../img/bag-pic.svg") no-repeat center;
}
.index .bag:hover {
	background: #f8f7f4;
	color: #323232;
}
.index .bag:hover::before {
	background: url("../img/fullbag-pic.png") no-repeat center;
}
.inner .user-block .bag {
	padding-right: 16px;
	background: #f7f6f3;
	color: #313131;
}
.inner .user-block .bag::before {
	position: absolute;
	content: "";
	top: 6px;
	left: 16px;
	width: 20.62px;
	height: 19.719px;
	background: url("../img/fullbag-pic.png") no-repeat center;
}
.user-block .search {
	position: relative;
	background: rgba(255, 255, 255, 0.2) url("../img/search-pic.svg") no-repeat center;
	height: 32px;
	width: 32px;
	border-radius: 16px;
}
.user-block .search:hover {
	background: #f8f7f4 url("../img/search-pic-hover.svg") no-repeat center;
	color: #323232;
}
.user-block .login:hover {
	background: #f8f7f4;
	color: #323232;
}
.user-block .login:hover::before {
	background: url("../img/login-pic-active.svg") no-repeat center;
}

.time-phone-block {
	position: absolute;
	right: 27px;
	bottom: -33px;
}
.time-phone-block .work-time {
	font-weight: 700;
	text-align: right;
	padding-bottom: 5px;
}
.time-phone-block .phone-number {
	font-size: 22px;
	line-height: 24px;
	font-weight: 900;
	text-align: right;
}
.main-footer {
	margin-top: 0px;
	padding-top: 17px;
	padding-bottom: 13px;
	font-size: 0px;
}
.inner .main-footer {
	padding-top: 19px;
}
.footer-social,
.footer-menu,
.footer-made-in {
	display: inline-block;
	vertical-align: bottom;
	width: 24%;
}
.footer-menu {
	width: 52%;
}
.footer-social {
	font-size: 0;
	text-align: left;
	margin-bottom: 16px;
}
.social-btn {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 10px;
	width: 31.1px;
	height: 31px;
	border: 4px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}
.social-btn.social-btn-tw {
	background: url("../img/tw-pic.svg") no-repeat center;
	opacity: 0.8;
}
.social-btn.social-btn-inst {
	background: url("../img/inst-pic.svg") no-repeat center;
	opacity: 0.8;
}
.social-btn.social-btn-fb {
	background: url("../img/fb-pic.svg") no-repeat center;
	opacity: 0.8;
}
.social-btn.social-btn-vk {
	background: url("../img/vk-pic.svg") no-repeat center;
	opacity: 0.8;
}
.social-btn:hover {
	opacity: 1;
	border: 4px solid rgba(255, 255, 255, 0.71);
}
.social-btn:active {
	opacity: 0.99;
	border: 4px solid rgba(255, 255, 255, 0.70);
	box-shadow: inset 0px 2px 1px rgba(136, 136, 136, 1);
}
.footer-menu {
	text-align: center;
	margin-bottom: 19px;
}
.footer-menu .link-block {
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	width: 350px;
}
.footer-menu .link-block::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 3px;
	width: 14.562px;
	height: 12.66px;
	background: url("../img/heart-pic.svg");
}
.footer-menu .link-block-left {
	display: inline-block;
	vertical-align: bottom;
	float: left;
	width: 115px;
	margin-left: 25px;
	text-align: left;
}
.footer-menu .link-block-right {
	display: inline-block;
	vertical-align: bottom;
	float: left;
	width: 165px;
	margin-left: 27px;
	text-align: left;
}
.footer-menu-link {
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #ffffff;
}
.link-block-left .footer-menu-link:first-child {
	font-weight: 700;
}
.footer-made-in {
	text-align: right;
	line-height: 0px;
}
.footer-made-in img{
	margin-right: 80px;
}
.footer-made-in p{
	margin-top: 5px;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}
.footer-made-in p a{
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-menu-link:hover,
.footer-made-in p a:hover{
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.footer-menu-link:active,
.footer-made-in p a:active{
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
body > input[type="radio"] {
  display: none;
}
.site-wrapper {
	min-width: 1200px;
	margin: 0 auto;
	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.site-wrapper:before,
.site-wrapper:after {
	content: "";
	visibility: hidden;
}
.site-wrapper:before,
.site-wrapper:after {
	background-image: url("slide-1.png");
}
.site-wrapper:after {
	background-image: url("slide-2.png");
}
.slider-wrapper {
	position: relative;
}
.slider {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 310px;
	text-align: center;
	color: #ffffff;
}
.slides {
	display: none;
}
.slider-icecream-name {
	display: block;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 28px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 900;
}
.slides .btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 41px;
	margin-bottom: 41px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background:	-moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background:		 linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slides .btn:hover {
	background:	-moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background:		 linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slides .btn:active {
	background:	-moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background:		 linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(167, 48, 31, 1);
}
.controls {
	position: absolute;
	bottom: 63px;
	left: 0;
	z-index: 20;
	font-size: 0;
}
.controls label {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/ice-cream-1.png");
}
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/ice-cream2.png");
}
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/ice-cream3.png");
}
.site-wrapper label[for="btn-1"]:hover,
.site-wrapper label[for="btn-2"]:hover,
.site-wrapper label[for="btn-3"]:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
.banners-block {
	min-width: 846px;
	max-width: 1146px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 31px;
}
.banner1 {
	float: left;
	width: 48.8%;
	height: auto;
	background: #87112c url("../img/banner-1.jpg") no-repeat right;
	border-radius: 15px;
}
.banner2 {
	float: right;
	width: 48.8%;
	background: #392016 url("../img/banner-2.jpg") no-repeat left;
	border-radius: 15px;
}
.banner-text {
	padding: 16px 20px;
	padding-bottom: 0px;
	min-height: 126px;
}
.banner-name {
	font-size: 35px;
	line-height: 41px;
}
.banner-text p {
	margin-top: 15px;
}
.banners-block .btn-space {
	text-align: right;
	padding: 0px 20px;
	margin-bottom: 25px;
}
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 22px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #ca3824 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #ca3824 100%);
	background: linear-gradient(to bottom, #f26843 0%, #ca3824 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
	cursor:pointer;
}
.btn:hover {
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn:active {
	background: -moz-linear-gradient(top, #d74531 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d74531 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d74531 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}
.hit-block {
	font-size: 0px;
	margin-bottom: 38px;
}
.icecream-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 9px;
	margin-right: 2.325%;
	width: 23.256%;
	text-align: center;
}
.hit-block .icecream-wrap::before {
	display: block;
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	height: 61px;
	width: 61px;
	background: url("../img/hit.png") no-repeat center;
}
.hit-block .icecream-item:nth-child(4) {
	margin-right: 0px;
}
.icecream-item::after {
	content: "";
	position: absolute;
	top: -9px;
	bottom: -77px;
	right: -10px;
	left: -10px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
	visibility: hidden;
	opacity: 0;
	z-index: 10;
}
.icecream-item:hover {
	z-index: 200;
}
.icecream-item:hover::after {
	visibility: visible;
	opacity: 1;
}
.icecream-item:hover .icecream-preview {
	visibility: visible;
	opacity: 1;
}
.icecream-item:hover .icecream-wrap {
	z-index: 300;
}
.icecream-wrap {
	position: relative;
	min-height: 279px;
}
.icecream-preview {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	left: 50%;
	bottom: -55px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	z-index: 202;
}
.icecream-btn {
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
.hit-block .icecream-pic {
	margin:0;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 13px;
}
.icecream-info {
	position: relative;
	min-height: 44px;
	text-align: center;
}
.icecream-name {
	display: inline;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.icecream-price {
	position: absolute;
	top: -72px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
}
.icecream-price .kg {
	font-size: 30px;
}
.features {
	margin-bottom: 35px;
	padding-bottom: 15px;
	color: #323232;
	background: #e9ddc2 url("../img/waffle.png");
	border-radius: 14px;
}
.features h2 {
	margin: 0;
	padding: 25px 20px;
	padding-bottom: 10px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
.features-item-block {
	font-size: 0px;
	padding: 0 20px;
}
.features-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	
	width: 48.8%;
	margin-right: 2.4% ;
	
	font-size: 16px;
	line-height: 22px;
}
.features-item p{
	margin: 0;
	padding: 0;
	padding-left: 57px;
	padding-top: 12px;
	padding-bottom: 10px;
}
.features-item:nth-child(even) {
	margin-right: 0;
	width: 48.6%;
}
.features-item:nth-child(n)::before {
	content: "";
	position: absolute;
	top: 0;
	left: 1px;
	display: block;
	width: 47.406px;
	height: 47.38px;
}
.features-item:nth-child(1)::before {
	background: url("../img/icecream-pic.svg");
}
.features-item:nth-child(2)::before {
	background: url("../img/cow-pic.svg");
}
.features-item:nth-child(3)::before {
	background: url("../img/leaf-pic.svg");
}
.features-item:nth-child(4)::before {
	background: url("../img/temp-pic.svg");
}
.news {
	margin-bottom: 40px;
}
.new-in-block {
	float: left;
	width: 48.9%;
	min-height: 220px;
	border-radius: 15px;
	background: #ffffff url("../img/strawberry-background.jpg") no-repeat right;
}
.text-block {
	display: block;
	margin-top: 23px;
	margin-left: 20px;
	width: 330px;
}
.new-in-block span {
	padding-right: 20px;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #5a5a5a;
}
.new-in-block p {
	margin-top: 4px;
}
.new-in-block a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: none;
	border-bottom: 2px solid rgba(50, 50, 50, 0.3)
}
.new-in-block a:hover {
	color: #e84d37;
	border-bottom: 2px solid rgba(232, 77, 55, 0.3)
}
.new-in-block a:active {
	color: #e84d37;
	border-bottom: 2px solid rgba(232, 77, 55, 0.3)
}
.newsletter-border {
	float: right;
	width: 48.9%;
	background: #f8f7f4 url("../img/feedback-border.png") center 22px;
	border-radius: 16px;
}
.newsletter {
	margin: 5px 6px;
	background: #f8f7f4;
	border-radius: 10px;
}
.newsletter p {
	margin: 0;
	padding: 0px 21px;
	padding-top: 29px;
	padding-bottom: 16px;
	min-height: 86px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
}
.newsletter-form {
	position: relative;
}
.newsletter .input-wrapper {
	margin-left: 20px;
	margin-right: 160px;
}
.newsletter input[type="email"] {
	margin-bottom: 35px;
	width: 95.5%;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #b2b2b2;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	padding-left: 14px;
}
.newsletter .btn {
	position: absolute;
	padding: 10px 19px;
	top: 1px;
	right: 20px;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #fefefe;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.map {
	position: relative;
	height: 428px;
}
.map iframe {
	top: 0;
	bottom: 0;
	position: absolute;
	height: 428px;
	width: 100%;
	min-width: 900px;
	border:none;
	z-index: 1;
}
.contacts-wrapper {
	position: relative;
	width: 1200px;
	margin: auto;
	z-index: 2;
}
.contacts {
	position: absolute;
	display: block;
	top: 60px;
	right: 2.2%;
	background: #fdfefe;
	border-radius: 15px;
	width: 253px;
	padding-top: 29px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 32px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
	z-index: 3;
}
.contacts span {
	display: block;
	margin-right: 50px;
	margin-bottom: 4px;
}
.contacts .adress,
.contacts .phone-number {
	margin-right: 30px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	color: #323232;
}
.contacts .adress {
	margin-bottom: 20px;
}
.contacts .btn {
	margin-top: 20px;
	padding: 10px 28px;
}
.breadcrumbs ul {
	margin: 0;
	padding: 0;
	margin-top: 14px;
}
.breadcrumbs li {
	display: inline;
}
.breadcrumbs-link {
	margin-right: 4px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}
.breadcrumbs-link.active {
	border-bottom: none;
}
.breadcrumbs-link:hover,
.breadcrumbs-link:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
.breadcrumbs-link.active:hover,
.breadcrumbs-link.active:active {
	color: #ffffff;
	border-bottom: none;
}
.inner h1 {
	margin-top: 5px;
}
.select-form {
	line-height: 0px;
	margin-bottom: 31px;
}
.select-form-line {
	margin-bottom: 13px;
	font-size: 0;
}
.select-form-line>div {
	display: inline-block;
	vertical-align: top;
	margin-left: 16px;
}
.select-form-line>div:first-child{
	margin-left: 0px;
}
.input-name {
	display: block;
	padding: 2px 15px;
	padding-bottom: 7px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
}
.input-container {
	display: inline-block;
	vertical-align: top;
	padding: 9px 16px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}
select option {
	color: #000000;
}
.sorting-block select {
	position: relative;
	height: 36px;
	width: 193px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	border-radius: 18px;
	background: rgba(255, 255, 255, 0.2) url(../img/marker.svg) 171px 16px no-repeat;
	cursor: pointer;
}
.sorting-block select:hover {
	background: #fff url(../img/marker-focus.svg) 171px 16px no-repeat;
	color: #000;
}
.sorting-block select:focus {
	background: #fff url(../img/marker-focus.svg) 171px 16px no-repeat;
	color: #000;
}
select::-ms-expand {
display: none;
}
.sorting-price .line {
	position: relative;
	display: block;
	width: 188px;
	height: 4px;
	background: rgba(255, 255, 255, 0.2);
	z-index: 1;
}
.sorting-price .center-line {
	position: absolute;
	display: block;
	left: 22px;
	width: 107px;
	height: 4px;
	background: rgba(255, 255, 255, 1);
}
.sorting-price .circle {
	position: absolute;
	display: block;
	top: -8px;
	width:20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}
.circle.marker-left{
	left: 19px;
}
.circle.marker-right{
	right: 51px;
}
.sorting-price .input-container {
	padding: 16px 16px;
	padding-right: 15px;
}
div.sorting-fat-content {
	margin-left: 14px;
}
.sorting-fat-content input[type="radio"] {
	display: none;
}
.sorting-fat-content label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 30px;
	margin-left: 15px;
	cursor: pointer;
}
label[for="content-0"] {
	margin-left: 0px;
}
.sorting-fat-content label::before {
	content: "";
	position: absolute;
	top:0px;
	left: 0px;
	padding: 9px;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 1);
}
.sorting-fat-content label:hover::before {
	padding: 8px;
	border: 2px solid rgba(255, 255, 255, 1);
}
#content-0:checked ~ label[for="content-0"]::after,
#content-10:checked ~ label[for="content-10"]::after,
#content-until-30:checked ~ label[for="content-until-30"]::after,
#content-up-30:checked ~ label[for="content-up-30"]::after {
	position:absolute;
	content: "";
	top: 4px;
	left: 4px;
	padding: 6px;
	background: rgba(248, 247, 244, 1);
	border-radius: 50%;
}
.sorting-fill .input-container{
	padding-right: 18px;
}
.sorting-fill .input-name {
	padding-bottom: 7px;
}
.sorting-fill input[type="checkbox"] {
	display: none;
}
.sorting-fill label {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-left: 32px;
	margin-left: 16px;
	cursor: pointer;
}
label[for="chocolate-fill"] {
	margin-left: 0px;
}
label[for="sirops"] {
	margin-left: 20px;
}
label[for="jam"] {
	padding-left:33px;
}
.sorting-fill label::before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	padding:9px;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 3px;
}
#chocolate-fill:checked ~ label[for="chocolate-fill"]::after,
#sugar:checked ~ label[for="sugar"]::after,
#fruits:checked ~ label[for="fruits"]::after,
#sirops:checked ~ label[for="sirops"]::after,
#jam:checked ~ label[for="jam"]::after{
	position: absolute;
	content: "";
	top: 3px;
	left: 7px;
	width:4px;
	height:9px;
	border-right: 3px solid rgba(255, 255, 255, 1);
	border-bottom: 3px solid rgba(255, 255, 255, 1);
	transform: rotate(45deg);
}
.btn-select-form {
	display: inline-block;
	vertical-align: top;
	padding: 8px 27px;
	margin-top: 24px;
	margin-left: 14px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	border: 2px solid #ffffff;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
}
.btn-select-form:hover {
	background: rgba(255, 255, 255, 1);
	color: #000000;
}
.btn-select-form:active {
	padding: 10px 29px;
	background: #ededed;
	border:none;
	box-shadow: inset 0px 2px 1px rgba(105, 105, 105, 1);
}
.catalog-space {
	font-size: 0px;
	margin-bottom: 45px;
}
.catalog-space .icecream-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 2.325%;
	margin-bottom: 30px;
	width: 23.256%;
	padding-top: 9px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
}
.catalog-space .icecream-item:nth-child(4n) {
	margin-right: 0px;
}
.catalog-space .icecream-pic {
	margin:0;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 13px;
}
.page-number {
	margin-bottom: 25px;
	padding: 5px 0px;
	font-size: 0;
	text-align: right;
}
.page-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 3px;
	padding-top: 5px;
	width: 26px;
	height: 21px;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}
.page-active {
	background: rgba(255, 255, 255, 1);
	color: #000000;
}
.page-btn:hover {
	background: rgba(255, 255, 255, 0.2);
}
.page-btn:active {
	background: rgba(255, 255, 255, 1);
	color: #000000;
}
.page-active:hover {
	background: rgba(255, 255, 255, 1);
	color: #000000;
}
.prev {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 26px;
	width: 10px;
	margin-right: 15px;
}
.prev:before {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	content: "";
	top: 5px;
	left: 3px;
	width: 3px;
	height: 10px;
	transform: rotate(45deg);
	background: rgba(255, 255, 255, 0.2);
}
.prev:after {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	content: "";
	bottom: 5px;
	left: 3px;
	width: 3px;
	height: 10px;
	transform: rotate(-45deg);
	background: rgba(255, 255, 255, 0.2);
}
.next {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 26px;
	width: 10px;
	margin-left: 11px;
}
.next:before {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	content: "";
	top: 5px;
	left: 3px;
	width: 3px;
	height: 10px;
	transform: rotate(-45deg);
	background: rgba(255, 255, 255, 1);
}
.next:after {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	content: "";
	bottom: 5px;
	left: 3px;
	width: 3px;
	height: 10px;
	transform: rotate(45deg);
	background: rgba(255, 255, 255, 1);
}
.separate-line {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.catalog-window,
.search-window,
.login-form-window,
.bag-window,
.feedback-form-window {
	display: none;
}
.catalog-li:hover .catalog-window {
	display: block;
	position: absolute;
	width: 143px;
	top: 60px;
	left: -7px;
	background: #f8f7f4;
	border: inset 1px rgba(194, 206, 199, 0.52);
	border-radius: 5px;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.catalog-window a {
	display: block;
	padding: 6px;
	padding-left: 21px;
	margin-bottom: 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #323232;
}
.catalog-window a:hover {
	background: rgba(251, 222, 216, 1);
}
.catalog-window a:active {
	background: rgba(246, 181, 165, 1);
}
.catalog-window span {
	display: block;
	padding: 6px;
	padding-left: 21px;
	margin-bottom: 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #ffffff;
	background: rgba(208, 112, 88, 1);
}
.catalog-window a:first-child {
	margin-top: 5px;
	margin-bottom: 6px;
	position: relative;
	font-weight: 700;
}
.catalog-window a:first-child::after {
	position: absolute;
	content: "";
	height: 1px;
	background: rgba(50, 50, 50, 0.2);
	bottom: -5px;
	left: 6px;
	right: 9px;
	z-index:10;
}
.catalog-li:hover .catalog {
	background: #ffffff;
	color: #333333;
}
.search-block {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding-bottom: 15px;
}
.search-block:hover .search-window {
	display: block;
	position: absolute;
	top: 60px;
	right: 10px;
	line-height: 0px;
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 10;
}
.search-block:hover .search {
	background: #f8f7f4 url("../img/search-pic-hover.svg") no-repeat center;
	color: #323232;
}
.search-form input[type="search"] {
	width: 310px;
	margin: 0px 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 9px 14px;
	outline: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgba(153, 153, 153, 1);
}
.search-btn {
	display: none;
}
.search-form label[for="search"] {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 3px;
	margin-left: 30px;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
	z-index: 10;
}
.search-form input[type="search"]:hover{
	outline: none;
	border: 2px solid #c7c6c5;
	padding: 8px 13px;
}
.search-form input[type="search"]:focus{
	outline: none;
	border: 2px solid #5b9ddf;
	padding: 8px 13px;
}
input[type="search"]:focus ~ label[for="search"],
label[for="search"]:active{
	visibility: visible;
	opacity: 1;
}
.login-form-block {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding-bottom: 15px;
}
.login-form-block:hover .login-form-window {
	display: block;
	position: absolute;
	top: 60px;
	right: 10px;
	line-height: 0px;
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 10;
}
.login-form-block:hover .login {
	background: #f8f7f4;
	color: #323232;
}
.login-form-block:hover .login::before {
	background: url("../img/login-pic-active.svg") no-repeat center;
}
.login-form input[type="email"],
.login-form input[type="password"]{
	width: 239px;
	margin: 0px 18px;
	margin-top: 20px;
	padding: 12px 14px;
	outline: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgba(153, 153, 153, 1);
}
.login-form input[type="password"] {
	margin-bottom: 20px;
}
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover{
	outline: none;
	border: 2px solid #c7c6c5;
	padding: 11px 13px;
}
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus{
	outline: none;
	border: 2px solid #5b9ddf;
	padding: 11px 13px;
}
.login-form .btn {
	margin-left: 18px;
	margin-right: 19px;
	margin-bottom: 20px;
	padding: 0px 25px;
	padding-top: 15px;
	padding-bottom: 13px;
	border: none;
	outline: none;
}
.login-form .link-container {
	display: inline-block;
	vertical-align: top;
	width: 150px;
}
.login-form .login-form-link {
	margin-top: 3px;
	position: relative;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: rgba(50, 50, 50, 1);
	text-decoration: none;
}
.login-form-link:after {
	content: "";
	position: absolute;
	bottom: 5px;
	left:0px;
	right: 0px;
	height: 1px;
	background: rgba(50, 50, 50, 0.3)
}
.login-form label[for="email"],
.login-form label[for="password"] {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 3px;
	margin-left: 30px;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
	z-index: 20;
}
.login-form label[for="password"] {
	top: 71px;
	left: 0;
}
.bag-block {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding-bottom: 15px;
}
.bag-block:hover .bag-window {
	display: block;
	position: absolute;
	top: 60px;
	right: 0px;
	line-height: 0px;
	padding-top: 19px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	background: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
	z-index: 10;
	text-align: right;
}
.bag-block:hover .bag {
	background: #f8f7f4;
	color: #323232;
}
.bag-block:hover .bag:before {
	background: url("../img/fullbag-pic.png") no-repeat center;
}
.bag-item {
	width: 515px;
	margin-bottom: 19px;
	text-align: left;
}
.close-btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 21px;
	width: 20px;
	margin: 6px 0px;
	margin-right: 12px;
}
.close-btn:before,
.close-btn:after {
	content: "";
	position: absolute;
	top:9px;
	left:4px;
	height: 2px;
	width: 15px;
	transform: rotate(45deg);
	background: rgba(53, 53, 53, 1);
}
.close-btn:after {
	transform: rotate(-45deg);
}
.item-pic {
	display: inline-block;
	vertical-align: top;
	width: 33px;
	height: 33px;
}
.bag-item .text-space {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 12px;
}
.bag-item .bag-name-item {
	margin:0;
	width: 217px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	color: rgba(50, 50, 50, 1);
}
.bag-item .weightxprice,
.bag-item .price {
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	color: rgba(51, 51, 51, 1);
}
.bag-item .weightxprice {
	margin-left: 30px;
}
.bag-item .price {
	margin-left: 29px;
}
.bag-item .weight-price {
	color: rgba(153, 153, 153, 1);
}
.bag-item:last-child {
	position: relative;
	margin-bottom: 31px;
}
.bag-item:last-child::after {
	position: absolute;
	content: "";
	bottom: -17px;
	right: 0px;
	left: 5px;
	height: 1px;
	background: #cacac7;
}
.bag-window .bag-total {
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #333333;
}
.bag-window .bag-btn {
	margin:0;
	padding: 10px 15px;
	border:none;
	outline: none;
}
@keyframes bounce {
  0%   {
	transform: translateY(-2000px);
  }
  70%  {
	transform: translateY(30px);
  }
  90%  {
	transform: translateY(-10px);
  }
  100% {
	transform: translateY(0);
  }
}
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
	background: rgba(0, 0, 0, 0.3);
}
.feedback-form-window {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -221px;
	margin-left: -237px;
	padding: 13px 24px;
	padding-top: 15px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(153, 153, 153, 1);
	background: #f8f7f4;
	border-radius: 10px;
	z-index: 100;
}
.feedback-close-btn {
	position: absolute;
	content: "";
	display: inline-block;
	vertical-align: top;
	top: 13px;
	right: 13px;
	padding: 2px;
	width: 18px;
	height: 17px;
	z-index: 100;
}
.feedback-close-btn:before,
.feedback-close-btn:after {
	content: "";
	position: absolute;
	top:9px;
	left:0px;
	height: 2px;
	width: 23px;
	transform: rotate(45deg);
	background: rgba(53, 53, 53, 1);
	z-index: 100;
}
.feedback-close-btn:after {
	transform: rotate(-45deg)
}
.feedback-form-header {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}
.feedback-form label {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 39px;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
	z-index: 100;
}
.feedback-form label[for="name"] {
	top: 50px;
}
.feedback-form label[for="feedback-email"] {
	top: 115px;
}
.feedback-form label[for="comment"] {
	top: 178px;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	display: block;
	margin-bottom: 14px;
	padding-top: 14px;
	padding-bottom: 10px;
	padding-left: 14px;
	padding-right: 14px;
	width: 237px;
	outline: none;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(153, 153, 153, 1);
}
.feedback-form textarea {
	margin-bottom: 20px;
	width: 398px;
	height: 131px;
}
.feedback-form input[type="text"] {
	margin-top: 19px;
}
.feedback-form .btn {
	float:right;
	padding: 14px 24px;
	border:none;
	outline: none;
}
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
	outline: none;
	border: 2px solid #c7c6c5;
	padding-top: 13px;
	padding-bottom: 9px;
	padding-left: 13px;
	padding-right: 13px;
}
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
	outline: none;
	border: 2px solid #5b9ddf;
	padding-top: 13px;
	padding-bottom: 9px;
	padding-left: 13px;
	padding-right: 13px;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
input[type="email"]:focus ~ label[for="email"],
label[for="email"]:active,
input[type="email"]:focus ~ label[for="feedback-email"],
label[for="feedback-email"]:active,
input[type="password"]:focus ~ label[for="password"],
label[for="password"]:active,
input[type="text"]:focus ~ label[for="name"],
label[for="name"]:active,
textarea:focus ~ label[for="comment"]{
	visibility: visible;
	opacity: 1;
}
.modal-content-show {
	display: block;
	animation: bounce 0.6s;
}
.modal-content-show-standart {
	display: block;
}